<!-- Modal -->
<div
  class="modal fade"
  id="add-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Mahasiswa</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/mahasiswa" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Nama</label>
            <input
              type="text"
              class="form-control"
              id="nama"
              name="nama"
              placeholder="Enter nama"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">NIM</label>
            <input
              type="number"
              class="form-control"
              id="nim"
              name="nim"
              placeholder="Enter Nim"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Jurusan</label>
            <input
              type="text"
              class="form-control"
              id="jurusan"
              name="jurusan"
              placeholder="Enter Jurusan"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Alamat</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              placeholder="Masukan Alamat"
              name="alamat"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
