<!-- Modal -->
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Mahasiswa</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/mahasiswa?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Nama</label>
            <input
              type="text"
              class="form-control nama"
              name="nama"
              nama="Enter Nama"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">NIM</label>
            <input
              type="number"
              class="form-control nim"
              name="nim"
              nama="Enter nim"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Jurusan</label>
            <input
              type="text"
              class="form-control jurusan"
              name="jurusan"
              nama="Enter Jurusan"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Alamat</label>
            <textarea
              type="text"
              class="form-control alamat"
              name="alamat"
              nama="Enter Alamat"
              rows="3"
              required
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
