<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">CRUD DATA MAHASISWA EXPRESS-JS</h2>
      <div class="row mt-3">
        <!-- Table -->
        <div class="col-auto col-lg-12 mt-2"><%- include('table.ejs') %></div>
      </div>
    </div>
    <!-- JS -->
    <%- include('js.ejs') %>
  </body>
</html>
